@font-face {
  font-family: SamReg;
  src: url(./SamsungSharpSansBd.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: SamOne;
  src: url(./SamsungOne.woff2) format("woff2");
  font-size: 16px;
  line-height: 44px;
  font-weight: normal;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav > div {
  width: 30px;
  position: relative;
}

.menu section#outmenu {
  width: 100%;
  height: 100vh;
  background-color: #0000;
  position: fixed;
  transition: background-color 1s ease-in-out;
}

.menu #menulist {
  /* PUT FONTS AND MARGINS HERE */
  font-family: SamOne;
  padding: 0px 48px 0px 24px;
  width: 80%;
  position: relative;
  background-color: white;
  color: black;
  list-style-type: none;
  left: 100%;
  overflow: hidden;
  transition: left 1s ease-in-out;
}

/* Checkbox hack, the tilde is an adjecent selector
class menu, id menu when checked, look for the  sibling section with the id of outmenu 
 (You are targetting the tilde.
 This is the background which makes it opaque  */
.menu #menu:checked ~ section#outmenu {
  display: inherit;
  top: 0;
  left: 0;
  transition: background-color 1s ease-in-out;
  background-color: #0008;
}

/* This is the menu that appears on screen*/
.menu #menu:checked ~ section#outmenu #menulist {
  width: 80%;
  overflow: hidden;
  left: 20%;
  transition: left 1s ease-in-out;
}

#menu {
  display: none;
}

.logo {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: auto;
}

h2 {
  font-family: SamReg;
}

#buy {
  background: transparent;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: white;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  background-color: black;
}

#learn {
  cursor: pointer;
  border: none;
  background: transparent;
}

#learn:hover {
  text-decoration: underline;
}

#menulist li {
  display: flex;
  justify-content: sp;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  height: 400px;
}

.card p {
  width: 60%;
  text-align: center;
}

.multiselect {
  justify-content: space-between;
}

.multiselect ul {
  display: flex;
  width: 100%;
  list-style-type: none;
}

.featured {
  background-image: url(./images/galaxyflip.jpg);
}

.latest {
  background-image: url();
}

.mobile {
  background-image: url(./images/download.avif);
}

.tvandav {
  background-image: url(./images/neoqled8k.jpg);
}

.homeappliances {
  background-image: url(./images/JetAI.avif);
}

.recommendedproducts {
  background-image: url();
}

.worldexpo {
  background-image: url(./images/worldexpo.avif);
}

.disclaimer {
  padding: 2%;
}

.search button {
  height: 8.33333333vw;
  padding: 2.222222222vw 4.44444444444vw;
  font-size: 2.77777777778vw;
  background-color: white;
  border: solid 1px rgba(0, 0, 0, 0, 0.15);
  color: #000;
  font-family: SamOne;
  line-height: 1.33;
  white-space: nowrap;
  border-radius: 20px;
}

.search button:hover {
  height: 8.33333333vw;
  padding: 2.222222222vw 4.44444444444vw;
  font-size: 2.77777777778vw;
  background-color: rgba (255, 255, 0, 3);
  border: solid 1px rgba(0, 0, 0, 0, 0.15);
  color: #000;
  font-family: SamOne;
  line-height: 1.33;
  white-space: nowrap;
  border-radius: 20px;
}
